# 依赖目录
node_modules/

# 环境变量
.env
.env.local
.env.*.local

# 日志
*.log
npm-debug.log*

# 编辑器配置
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 数据库备份
*.sql
*.bak 
public/images/articles/cover-1777289722391-306394167.jpg
public/images/articles/cover-1777290120599-701272479.jpg
public/images/articles/cover-1777290233774-949554429.jpg
public/images/articles/cover-1777290434407-354802262.jpg
public/images/articles/cover-1777290584562-559778867.jpg
